<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Todowoo</title>
</head>
<body class="bg-gray-100">
    <header>
        <nav class="max-w-5xl mx-auto my-12 flex items-center justify-between">
            {% if user.is_authenticated %}
                <h1 class="text-2xl text-gray-900 font-bold">
                    Todowoo
                    <span class="text-md text-gray-600">\{{ user.username }}
                </h1>
            {% else %}
                <h1 class="text-2xl text-gray-900 font-bold">
                    Todowoo
                </h1>
            {% endif %}

            {% if user.is_authenticated %}
                <ul class="flex space-x-3">
                    <li>
                        <a class="text-lg text-gray-600 hover:text-gray-900"
                        href="{% url 'todo:create' %}">Create</a>
                    </li>
                    <li>
                        <a class="text-lg text-gray-600 hover:text-gray-900"
                        href="{% url 'todo:current' %}">Current</a>
                    </li>
                </ul>
            {% endif %}

            <ul class="flex space-x-3">
                {% if user.is_authenticated %}
                    <li>
                        <form action="{% url 'todo:logout' %}" method="POST">
                            {% csrf_token %}

                            <button class="border-2 border-gray-600 px-3 py-1
                            text-gray-600 rounded-lg hover:text-gray-100 hover:bg-gray-600"
                            type="submit">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li>
                        <a class="border-2 border-gray-600 px-3 py-1
                        text-gray-600 rounded-lg hover:text-gray-100 hover:bg-gray-600"
                        href="{% url 'todo:login' %}">Login</a>
                    </li>
                    <li>
                        <a class="border-2 border-gray-600 px-3 py-1
                        text-gray-600 rounded-lg hover:text-gray-100 hover:bg-gray-600"
                        href="{% url 'todo:signup' %}">Signup</a>
                    </li>
                {% endif %}
                
            </ul>

        </nav>
    </header>
    <main></main>
    
</body>
</html>